.advantages-list-card:hover, .home-testimonials-slider-card:hover {
  -webkit-box-shadow: 0px 0px 20px -2px #355060;
  -moz-box-shadow: 0px 0px 20px -2px #355060;
  box-shadow: 0px 0px 20px -2px #355060; }

.home-testimonials-slider-card, .sh-partners-list-item {
  -webkit-box-shadow: 0px 0px 15px -7px #355060;
  -moz-box-shadow: 0px 0px 15px -7px #355060;
  box-shadow: 0px 0px 15px -7px #355060; }

/*--------------------General--------------------*/
html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  color: #4F5464; }

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }

.row {
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #11191f;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  line-height: 1.2em; }

h1 {
  font-size: 3rem;
  line-height: 1em; }

h2 {
  font-size: 2.375rem;
  letter-spacing: 0.2px; }

h3 {
  font-size: 1.5rem;
  letter-spacing: 0.2px; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none; }

a:focus {
  outline: none; }

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8em; }

.sh-section-title > * {
  display: inline-block; }

.sh-section-title h2 {
  margin-right: 1.5rem; }

.sh-section-title-line {
  width: 4.5rem;
  height: 0.25rem;
  position: relative;
  top: -0.5em; }

.main-btn {
  display: inline-block;
  border-radius: 25px;
  font-family: 'OpenSansPro', sans-serif;
  font-weight: bold;
  letter-spacing: 0.09rem;
  padding: 15px 50px; }
  .main-btn.sh-blue-bg:hover {
    padding-left: 40px;
    padding-right: 60px;
    color: #EFEFF0; }
  .main-btn:after {
    content: '\f108';
    font-family: 'Flaticon';
    position: absolute;
    opacity: 0;
    font-size: 1em;
    padding-left: 0px; }
  .main-btn:hover:after {
    opacity: 1;
    padding-left: 10px; }

.d-none {
  display: none; }

.d-flex {
  display: flex; }

.d-grid {
  display: grid; }

.justify-center {
  justify-content: center; }

.justify-around {
  justify-content: space-around; }

.justify-between {
  justify-content: space-between; }

.align-items-center {
  align-items: center; }

.flex-wrap {
  flex-wrap: wrap; }

.sh-text-center {
  text-align: center; }

.sh-section-margin {
  margin-top: 130px; }

.w-100 {
  width: 100%; }

.sh-small-header .header {
  height: 600px; }
  .sh-small-header .header .header-content-block h1 {
    text-align: center; }
  .sh-small-header .header .header-content-block p {
    text-align: center;
    margin-top: 30px; }

/*--------------------Margins--------------------*/
.sh-mt-10 {
  margin-top: 10px; }

.sh-mt-20 {
  margin-top: 20px; }

.sh-mt-30 {
  margin-top: 30px; }

.sh-mt-40 {
  margin-top: 40px; }

.sh-mt-50 {
  margin-top: 50px; }

.sh-mt-60 {
  margin-top: 60px; }

/*--------------------Forms--------------------*/
.rpk-form {
  border: 0;
  background: rgba(0, 0, 0, 0.25);
  color: #4F5464;
  height: 50px;
  padding: 0 30px 0 30px;
  border-radius: 50px;
  font-family: 'Roboto', sans-serif; }
  .rpk-form:focus {
    outline: none; }
  .rpk-form-input {
    box-sizing: border-box; }
  .rpk-form-btn {
    color: #EFEFF0;
    padding: 0;
    background: #4D5BED;
    font-family: 'OpenSansPro', sans-serif;
    font-weight: bold;
    letter-spacing: 0.09rem;
    font-size: 16px; }
    .rpk-form-btn:after {
      content: '\f108';
      font-family: 'Flaticon';
      position: absolute;
      opacity: 0;
      font-size: 1em;
      padding-left: 0px; }
    .rpk-form-btn:hover:after {
      opacity: 1;
      padding-left: 10px; }

.rpk-form-input::placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

.rpk-form-input::-webkit-input-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

.rpk-form-input::-moz-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

.rpk-form-input:-ms-input-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

.rpk-form-input:-moz-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

.home-call-content-request-leave-data input {
  box-sizing: border-box;
  border: 0;
  background: transparent;
  color: #EFEFF0;
  border-bottom: solid 2px #4D5BED;
  margin-top: 40px;
  margin-right: 50px;
  padding-bottom: 4px; }
  .home-call-content-request-leave-data input:last-child {
    margin-right: 0; }
  .home-call-content-request-leave-data input:focus {
    outline: none;
    border-bottom: solid 4px #4D5BED; }

.home-call-content-request-leave-data input::placeholder {
  color: #EFEFF0;
  opacity: 0.6;
  font-family: 'Roboto', sans-serif; }

.home-call-content-request-leave-data input::-webkit-input-placeholder {
  color: #EFEFF0;
  opacity: 0.6;
  font-family: 'Roboto', sans-serif; }

.home-call-content-request-leave-data input::-moz-placeholder {
  color: #EFEFF0;
  opacity: 0.6;
  font-family: 'Roboto', sans-serif; }

.home-call-content-request-leave-data input:-ms-input-placeholder {
  color: #EFEFF0;
  opacity: 0.6;
  font-family: 'Roboto', sans-serif; }

.home-call-content-request-leave-data input:-moz-placeholder {
  color: #EFEFF0;
  opacity: 0.6;
  font-family: 'Roboto', sans-serif; }

.sh-catalog-header-search-data input::placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

.sh-catalog-header-search-data input::-webkit-input-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

.sh-catalog-header-search-data input::-moz-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

.sh-catalog-header-search-data input:-ms-input-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

.sh-catalog-header-search-data input:-moz-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

textarea::placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

textarea::-webkit-input-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

textarea::-moz-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

textarea:-ms-input-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

textarea:-moz-placeholder {
  color: #4F5464;
  font-family: 'Roboto', sans-serif; }

select::-ms-expand {
  display: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/*--------------------Text Weight--------------------*/
.sh-tw-1 {
  font-weight: 100; }

.sh-tw-2 {
  font-weight: 200; }

.sh-tw-3 {
  font-weight: 300; }

.sh-tw-4 {
  font-weight: 400; }

.sh-tw-5 {
  font-weight: 500; }

.sh-tw-6 {
  font-weight: 600; }

.sh-tw-7 {
  font-weight: 700; }

.sh-tw-8 {
  font-weight: 800; }

.sh-tw-9 {
  font-weight: 900; }

/*--------------------Text color--------------------*/
.sh-white-font {
  color: #EFEFF0; }

.sh-grey-font {
  color: #4F5464; }

.sh-dark-font {
  color: #11191f; }

.sh-blue-font {
  color: #4D5BED; }

/*--------------------BG color--------------------*/
.sh-white-bg {
  background-color: #EFEFF0; }

.sh-grey-bg {
  background-color: #4F5464; }

.sh-dark-bg {
  background-color: #11191f; }

.sh-blue-bg {
  background-color: #4D5BED; }

/*--------------------Transitions--------------------*/
.header-nav-list ul li a, .header-nav-list ul li a:after, .sh-partners-list-item-short, .sh-partners-list-item-extending-hidden-text {
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.26, 0, 0.97);
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.26, 0, 0.97);
  -ms-transition: all 0.5s cubic-bezier(0.4, 0.26, 0, 0.97);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.26, 0, 0.97);
  transition: all 0.5s cubic-bezier(0.4, 0.26, 0, 0.97); }

.main-btn, .main-btn:after, .rpk-form-btn, .rpk-form-btn:after, .header-nav, .header-nav.active .header-nav-list ul, .header-nav-call-us, .header-nav.active .header-nav-call-us div, .advantages-list-card, .home-testimonials-slider-card, .sh-catalog-header-search button:after, .sh-catalog-table-cell-btn, .sh-partners-list-item, .sh-partners-list-item-extending-line, .sh-partners-list-item-extending-btn:before, .sh-partners-list-item-extending-btn:after {
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.26, 0, 0.97);
  -moz-transition: all 0.3s cubic-bezier(0.4, 0.26, 0, 0.97);
  -ms-transition: all 0.3s cubic-bezier(0.4, 0.26, 0, 0.97);
  -o-transition: all 0.3s cubic-bezier(0.4, 0.26, 0, 0.97);
  transition: all 0.3s cubic-bezier(0.4, 0.26, 0, 0.97); }

.home-call-content-request-leave-data input {
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0.26, 0, 0.97);
  -moz-transition: all 0.1s cubic-bezier(0.4, 0.26, 0, 0.97);
  -ms-transition: all 0.1s cubic-bezier(0.4, 0.26, 0, 0.97);
  -o-transition: all 0.1s cubic-bezier(0.4, 0.26, 0, 0.97);
  transition: all 0.1s cubic-bezier(0.4, 0.26, 0, 0.97); }

.header-nav.active .header-nav-list ul {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.header-nav.active .header-nav-call-us div:first-child {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.header-nav.active .header-nav-call-us div:last-child {
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  -ms-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s; }

/*--------------------BG Effects--------------------*/
.sh-bg {
  background-color: rgba(0, 0, 0, 0);
  background-origin: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover !important;
  position: relative;
  z-index: 0; }

.sh-bg-fixed {
  background-color: rgba(0, 0, 0, 0);
  background-origin: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover !important;
  position: relative;
  z-index: 0;
  background-attachment: fixed !important; }

/*--------------------Home Header--------------------*/
.header {
  flex-direction: column;
  background-image: url("../img/header.jpg");
  height: 100vh; }
  .header-nav {
    height: 100px; }
    .header-nav-logo img {
      height: 70px; }
    .header-nav-list ul li:last-child a {
      margin-right: 0; }
    .header-nav-list ul li a {
      width: 100%;
      height: 100%;
      font-weight: bold;
      color: #EFEFF0;
      margin-right: 50px;
      letter-spacing: 0.09rem;
      font-size: 0.9rem;
      left: 0px; }
      .header-nav-list ul li a:hover {
        opacity: 0.8;
        position: relative;
        left: -5px; }
      .header-nav-list ul li a:after {
        content: '\f108';
        font-family: 'Flaticon';
        position: absolute;
        opacity: 0;
        font-size: 1em;
        padding-top: 2px;
        margin-left: -5px; }
      .header-nav-list ul li a:hover:after {
        opacity: 1;
        margin-left: 3px; }
    .header-nav-call-us {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .header-nav-call-us:hover {
        opacity: 0.8; }
      .header-nav-call-us-number {
        font-weight: bold;
        color: #EFEFF0; }
      .header-nav-call-us-link {
        font-size: 0.9rem;
        display: inline-block;
        text-align: right; }
        .header-nav-call-us-link span {
          display: inline-block;
          color: #C2C2C2; }
          .header-nav-call-us-link span::before {
            content: '';
            display: block;
            width: 100%;
            border-bottom: 1px dashed #C2C2C2;
            position: relative;
            top: 1.3em; }
  .header-content {
    align-items: center;
    height: 100%; }
    .header-content p {
      margin-top: 50px;
      color: #C2C2C2; }
    .header-content .main-btn-block {
      margin-top: 50px; }

/*--------------------Home About--------------------*/
.home-about-us-section {
  margin-bottom: 60px; }

.home-about-us-img {
  width: 60%; }
  .home-about-us-img-block {
    border-right: 60px solid #fff;
    border-bottom: 60px solid #fff;
    border-radius: 80px; }
  .home-about-us-img img {
    width: 100%;
    height: 100%;
    border-radius: 80px; }

.home-about-us-content {
  width: 50%;
  position: relative; }
  .home-about-us-content-box {
    position: relative;
    top: 60px; }
    .home-about-us-content-box p {
      padding: 70px 70px 0px 0px; }
    .home-about-us-content-box .main-btn {
      margin-top: 40px;
      margin-left: 0px;
      margin-bottom: 70px; }
    .home-about-us-content-box::before {
      content: '';
      display: block;
      width: 150%;
      height: 100%;
      margin-left: -50%;
      position: absolute;
      border-radius: 80px;
      border: 15px solid #4D5BED;
      box-sizing: border-box;
      z-index: -1; }

/*--------------------Home Catalog--------------------*/
.home-catalog-section {
  margin-top: 190px; }

.home-catalog-content-block {
  width: 50%; }

.home-catalog-img-block {
  width: 50%;
  display: block;
  background-image: url("../img/home-catalog.jpg"); }

.home-catalog-content {
  display: block;
  padding: 100px;
  padding-right: 100px; }
  .home-catalog-content p {
    opacity: 0.7;
    padding: 50px 140px 60px 0px; }

.home-catalog h3 {
  margin-bottom: 10px; }

.home-catalog-search > * {
  width: 50%; }

.home-catalog-search select, .home-catalog-search input, .home-catalog-search button {
  width: 80%;
  margin-top: 30px; }

.home-catalog-search span.flaticon::before {
  margin-left: -45px;
  font-size: 0.875em; }

.home-catalog-search select {
  cursor: pointer; }

/*--------------------Home Advantages--------------------*/
.advantages-list {
  margin-top: 70px; }
  .advantages-list-card {
    padding: 40px;
    border-radius: 40px;
    margin-right: 30px;
    flex: 1; }
    .advantages-list-card:last-child {
      margin-right: 0; }
    .advantages-list-card-icon span.flaticon::before {
      margin-left: 0;
      font-size: 50px; }
    .advantages-list-card h3 {
      margin-top: 15px; }
    .advantages-list-card p {
      margin-top: 20px; }
    .advantages-list-card:hover {
      background: #4D5BED;
      color: #EFEFF0; }
      .advantages-list-card:hover:hover h3, .advantages-list-card:hover:hover span.flaticon::before {
        color: #EFEFF0; }

/*--------------------Home Call--------------------*/
.call-section {
  margin-top: 100px; }

.home-call {
  background-image: url("../img/home-call.jpg"); }
  .home-call-content {
    padding: 110px 10%; }
    .home-call-content h2 {
      margin-bottom: 60px; }
    .home-call-content-btn {
      flex-direction: column;
      align-items: center; }
    .home-call-content-btn p {
      text-align: center;
      color: #C2C2C2;
      font-size: 14px;
      margin-top: 10px; }

/*--------------------Home Testimonials--------------------*/
.home-testimonials-slider-controls {
  text-align: right;
  margin-top: 50px;
  margin-right: 30px; }
  .home-testimonials-slider-controls span.flaticon::before {
    color: #4D5BED;
    font-size: 30px;
    cursor: pointer; }

.home-testimonials-slider-card {
  padding: 30px;
  margin: 20px 20px 10px 20px;
  border-radius: 40px; }
  .home-testimonials-slider-card-brand {
    line-height: 1;
    margin-top: 5px; }
  .home-testimonials-slider-card-text {
    margin-top: 20px; }

/*--------------------Home Partners--------------------*/
.home-partners-slider-card {
  width: 100%;
  height: 100px;
  background-size: contain !important;
  margin: 70px 30px; }

.home-partners-slider #home-partners-slider-card-1 {
  background-image: url("../img/partners/1.jpg"); }

.home-partners-slider #home-partners-slider-card-2 {
  background-image: url("../img/partners/2.jpg"); }

.home-partners-slider #home-partners-slider-card-3 {
  background-image: url("../img/partners/3.jpg"); }

.home-partners-slider #home-partners-slider-card-4 {
  background-image: url("../img/partners/4.jpg"); }

.home-partners-slider #home-partners-slider-card-5 {
  background-image: url("../img/partners/5.jpg"); }

.home-partners-slider #home-partners-slider-card-6 {
  background-image: url("../img/partners/6.jpg"); }

.home-partners-slider #home-partners-slider-card-7 {
  background-image: url("../img/partners/7.png"); }

.home-partners-slider #home-partners-slider-card-8 {
  background-image: url("../img/partners/8.png"); }

/*--------------------Footer--------------------*/
.footer-content {
  padding: 80px 0;
  align-items: center; }
  .footer-content-logo img {
    height: 70px;
    margin-bottom: 15px; }

.footer-bottom {
  height: 70px;
  border-top: 1px solid #4F5464;
  /*-------------------------------------Catalog-------------------------------------------*/ }

.sh-catalog {
  /*-------------------------------------Contacts-------------------------------------------*/ }
  .sh-catalog-header-search {
    width: 930px;
    background: #EFEFF0;
    height: 70px;
    border-radius: 80px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px; }
    .sh-catalog-header-search-data {
      width: 100%;
      padding-right: 30px; }
      .sh-catalog-header-search-data input, .sh-catalog-header-search-data select {
        background: #EFEFF0;
        border: none;
        width: 33%;
        text-align: center;
        color: #4F5464;
        border-right: 1px solid #4D5BED;
        padding: 0 30px;
        font-size: 15px; }
      .sh-catalog-header-search-data-select-no-border {
        border-right: none !important; }
      .sh-catalog-header-search-data select {
        cursor: pointer; }
      .sh-catalog-header-search-data span.flaticon::before {
        margin-left: -40px;
        font-size: 0.875em;
        line-height: 50px; }
    .sh-catalog-header-search button {
      padding: 0 40px; }
      .sh-catalog-header-search button:hover {
        padding-left: 30px;
        padding-right: 50px; }
      .sh-catalog-header-search button:after {
        content: '\f108';
        font-family: 'Flaticon';
        position: absolute;
        opacity: 0;
        font-size: 1em;
        padding-left: 0px; }
      .sh-catalog-header-search button:hover:after {
        opacity: 1;
        padding-left: 10px; }
  .sh-catalog-table-section {
    margin-bottom: 130px; }
  .sh-catalog-table-cell {
    padding: 8px 50px;
    padding-right: 40px;
    cursor: pointer; }
    .sh-catalog-table-cell:hover .sh-catalog-table-cell-btn {
      padding-right: 0px; }
    .sh-catalog-table-cell > * {
      height: 100%; }
    .sh-catalog-table-cell:nth-child(odd) {
      background: #d8dbfb; }
    .sh-catalog-table-cell:nth-child(even) {
      background: #EFEFF0; }
    .sh-catalog-table-cell:last-child {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px; }
    .sh-catalog-table-cell-nomenclature {
      width: 40%; }
    .sh-catalog-table-cell-vendor {
      width: 27%; }
    .sh-catalog-table-cell-stock {
      width: 20%; }
    .sh-catalog-table-cell-price {
      width: 8%; }
    .sh-catalog-table-cell-btn {
      width: 5%;
      color: #4D5BED;
      padding-right: 10px;
      box-sizing: border-box;
      justify-content: flex-end; }
      .sh-catalog-table-cell-btn span.flaticon::before {
        font-size: 25px;
        font-weight: bold; }
  .sh-catalog-table-header {
    background: #4D5BED !important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.3px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #EFEFF0;
    padding: 12px 50px; }
  .sh-catalog-pagination {
    margin-top: 40px; }
    .sh-catalog-pagination-block-item {
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
      cursor: pointer;
      background: #4D5BED;
      margin-right: 20px;
      color: #EFEFF0;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      font-size: 1.125rem; }
      .sh-catalog-pagination-block-item:last-child {
        margin-right: 0; }
      .sh-catalog-pagination-block-item span.flaticon::before {
        margin-left: -1px;
        line-height: 3rem;
        font-size: 15px;
        font-weight: 400; }
    .sh-catalog-pagination-block-link {
      cursor: pointer; }
      .sh-catalog-pagination-block-link #sh-arrow-right {
        transform: rotate(180deg); }

.sh-contacts .header-content {
  padding-bottom: 160px; }

.sh-contacts-block {
  width: 100%;
  position: relative;
  top: -160px; }
  .sh-contacts-block-insert {
    width: 60%;
    padding: 80px;
    padding-top: 50px;
    box-sizing: border-box;
    background: #11191f;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px; }
    .sh-contacts-block-insert h3 {
      color: #EFEFF0;
      margin-top: 30px;
      font-size: 1.3rem; }
    .sh-contacts-block-insert input, .sh-contacts-block-insert textarea {
      margin-top: 20px; }
    .sh-contacts-block-insert textarea {
      width: 100%;
      height: 180px;
      resize: none;
      background: rgba(0, 0, 0, 0.25);
      color: #4F5464;
      border: none;
      padding: 20px 40px;
      box-sizing: border-box;
      border-radius: 30px;
      color: #4F5464;
      font-family: 'Roboto', sans-serif; }
    .sh-contacts-block-insert button {
      margin-top: 30px;
      width: 220px; }
    .sh-contacts-block-insert-top-name-phone {
      margin-right: 30px; }
  .sh-contacts-block-data {
    width: 40%;
    padding: 80px;
    color: #EFEFF0;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px; }
    .sh-contacts-block-data ul {
      margin-top: 30px; }
      .sh-contacts-block-data ul li {
        line-height: 2.5; }
        .sh-contacts-block-data ul li p {
          line-height: 1.2; }
        .sh-contacts-block-data ul li a.check-on-map {
          margin-top: -5px;
          display: inline-block; }
          .sh-contacts-block-data ul li a.check-on-map::before {
            content: '';
            display: block;
            width: 100%;
            border-bottom: 1px dashed #EFEFF0;
            position: relative;
            top: 1.8em; }

/*-------------------------------------Partners-------------------------------------------*/
.sh-partners .header {
  height: 400px; }

.sh-partners-list {
  margin-top: 50px;
  margin-bottom: 130px; }
  .sh-partners-list-item {
    position: relative;
    margin-top: 80px;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 40px;
    padding-bottom: 70px;
    width: 47%; }
    .sh-partners-list-item.active {
      height: auto; }
    .sh-partners-list-item p {
      font-size: 1rem !important; }
    .sh-partners-list-item-top {
      margin-bottom: 30px; }
      .sh-partners-list-item-top-logo {
        margin-right: 20px;
        width: 40%; }
        .sh-partners-list-item-top-logo img {
          max-width: 100%;
          height: 40px; }
    .sh-partners-list-item-short.active {
      opacity: 0; }
    .sh-partners-list-item-extending {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0; }
      .sh-partners-list-item-extending-line {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        background: #4D5BED;
        transition-delay: 0.3s; }
        .sh-partners-list-item-extending-line.active {
          transition-delay: 0s;
          z-index: 999; }
      .sh-partners-list-item-extending-hidden-text {
        padding: 0 40px;
        position: absolute;
        font-size: 1rem !important;
        pointer-events: none;
        opacity: 0;
        background: #fff;
        padding-bottom: 20px;
        height: auto; }
        .sh-partners-list-item-extending-hidden-text.active {
          opacity: 1;
          transition-delay: 0.1s;
          z-index: 999; }
      .sh-partners-list-item-extending-btn {
        position: relative;
        width: 30px;
        height: 30px;
        margin-top: 10px;
        float: right;
        margin-right: 40px; }
        .sh-partners-list-item-extending-btn:before, .sh-partners-list-item-extending-btn:after {
          content: '';
          position: absolute;
          background-color: #EFEFF0; }
        .sh-partners-list-item-extending-btn:before {
          top: 0;
          left: 50%;
          width: 3px;
          height: 100%;
          margin-left: -1.5px; }
        .sh-partners-list-item-extending-btn:after {
          top: 50%;
          left: 0;
          height: 3px;
          width: 100%;
          margin-top: -1.5px; }
        .sh-partners-list-item-extending-btn:hover {
          cursor: pointer; }
        .sh-partners-list-item-extending-btn.active:before {
          transform: rotate(90deg); }
        .sh-partners-list-item-extending-btn.active:after {
          transform: rotate(180deg); }

/*-------------------------------------About-------------------------------------------*/
.sh-about-company-img {
  width: 30%;
  margin-right: 5%; }
  .sh-about-company-img img {
    width: 100%; }

.sh-about-company-text {
  width: 65%; }
  .sh-about-company-text .sh-section-title {
    margin-bottom: 30px; }
  .sh-about-company-text a.table {
    margin-top: 10px;
    display: inline-block;
    color: #11191f; }
    .sh-about-company-text a.table::before {
      content: '';
      display: block;
      width: 100%;
      border-bottom: 1px dashed #11191f;
      position: relative;
      top: 1.4em; }

.sh-about .logistics-section-bg-block {
  height: 600px; }

.sh-about .logistics-section {
  position: relative; }
  .sh-about .logistics-section-bg {
    content: '';
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 70%;
    height: 100%;
    margin-left: 30%;
    background-image: url("../img/map.png");
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain !important;
    z-index: 0; }
  .sh-about .logistics-section p {
    color: #C2C2C2;
    z-index: 999; }

.sh-about-logistics {
  width: 40%;
  position: relative;
  z-index: 999;
  padding-top: 100px; }

.sh-about-legal-list li {
  margin-top: 10px; }
  .sh-about-legal-list li:first-child {
    margin-top: 0; }

.sh-about-legal-sertificate img {
  width: 80%; }

.sh-about-legal-line {
  width: 1px;
  background: #EFEFF0; }

.sh-about-tesla {
  background-image: url("../img/teslabg.jpg");
  padding: 100px 0; }
  .sh-about-tesla-block p {
    width: 50%; }
  .sh-about-tesla p {
    color: #C2C2C2; }
